.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;

  .obtained {
    background-color: green;
  }

  .notObtained {
    background-color: red;
  }
}

.table th {
  background-color: blue;
}

.notificationContainer {
  position: absolute;
  top: 40px;
  left: 75%;
  transform: translateX(-50%);
  z-index: 1;
}

@media (max-width: 768px) {
  .notificationContainer {
    left: 50%;
  }
}
